* {
  margin: 0px;

  padding: 0px;
}
#root {
  height: 100vh;
  width: 100vw;
  background-color: darkblue;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.black {
  width: 5%;
  height: 10%;
}

.snekHead {
  background-color: blueviolet !important;
}
.snekBody {
  background-color: white !important;
}
.food {
  background-color: red;
}
.points {
  position: absolute;
  font-size: 18px;
  right: 0;
  background-color: green;
  font-weight: 900;
}
